# Виртуальное окружение
venv/
env/
.venv/

# Файлы с переменными окружения
.env

# Временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# База данных SQLite (если не хотите её включать в репозиторий)
database.db

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Временные файлы редакторов
*.swp
*.swo
*~

# Прочие временные файлы
*.bak
*.tmp